@import url('./__audio/audioplayer__audio.css');
@import url('./__clip-image/audioplayer__clip-image.css');

.audioplayer {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
}