.description {
    background-color: white;
    padding: 64px 58px 86px;
    border-radius: 8px;
    position: relative;
    top: -10px;
}

@media screen and (max-width: 425px) {
    .description {
        padding: 36px 16px 41px;
    }
}