.audioplayer__control {
    padding: 0 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .audioplayer__control {
        display: grid;
        grid-template-columns: 36px 1fr 30px;
        grid-auto-flow: row;
    }
}