.audioplayer__button-playpause {
    margin: 12px 20px 0 0;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    cursor: pointer;
    width: 16px;
    height: 13px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .audioplayer__button-playpause {
        margin-right: 10px;
    }
}